{
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 120,
  "compile": "all",
  "plugins": ["prettier-plugin-organize-imports"],
  "organizeImportsSkipDestructiveCodeActions": true
}
